<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excersize 1</title>
</head>
<body>
    <h1>My Blog</h1>
    <h2>My Blog post 1</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi deleniti molestiae eum quibusdam quod tempora tempore exercitationem quo placeat sapiente quaerat fugit, rerum, eos labore beatae tenetur! Sapiente, aut aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit eligendi doloremque perspiciatis adipisci saepe dolores deleniti quas, repellat architecto delectus mollitia, voluptatibus non nisi tempore quia sapiente praesentium eveniet? Harum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. At qui illo possimus alias repudiandae! Iure, asperiores? Ut nulla fugit necessitatibus, ipsam veritatis vel facere reprehenderit, non nisi, perspiciatis beatae repellat.</p>
    <h3>My Blog post 2</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi deleniti molestiae eum quibusdam quod tempora tempore exercitationem quo placeat sapiente quaerat fugit, rerum, eos labore beatae tenetur! Sapiente, aut aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit eligendi doloremque perspiciatis adipisci saepe dolores deleniti quas, repellat architecto delectus mollitia, voluptatibus non nisi tempore quia sapiente praesentium eveniet? Harum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. At qui illo possimus alias repudiandae! Iure, asperiores? Ut nulla fugit necessitatibus, ipsam veritatis vel facere reprehenderit, non nisi, perspiciatis beatae repellat.</p>
</body>
</html>