<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Html form one</title>
</head>
<body>
    <h1>Login to KwiggBoot Admin Panel</h1>
    <form action="linktoyourjavascript.js" method="GET">
        <label for="username">Username : </label>
        <input type="text" id="username">
        <br><br>

        <label for="password">password : </label>
        <input type="text" id="password">
        <br><br>
        <br><br>
        <p>Select your role</p>
        <input type="checkbox" name="user-admin" value="1" id="Admin" for="Admin">
        <br><br>
        <input type="checkbox"  name="user-admin" value="2" id="User" for="User">
        <br><br>
        

        <input type="submit" value="Log in Admin !">
    </form>

</body>
</html>