<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text formating in HTML</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur <strong>elit.</strong>  Cupiditate magnam hic nostrum cum cumque ab beatae, blanditiis dignissimos harum natus, doloremque, minus ipsam? Placeat, est esse aspernatur saepe odio laborum. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat aliquid eum <mark> THIS IS HIGHLIGHTED</mark> aut ullam nemo officiis asperiores, debitis non commodi illum odio culpa maiores maxime cum praesentium odit quas explicabo! <em>Italic text boii</em>, ipsum dolor sit amet consectetur adipisicing elit. Cum dicta necessitatibus delectus possimus quia cupiditate dolore magnam voluptate pariatur cumque natus, illum debitis recusandae blanditiis illo nobis. Adipisci, praesentium corrupti.</p>
</body>
</html>